{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<!-- personalizes the profile message if req.user -->
  {% if user.id == request.user.id %}
    <h2 class="profile-title">{% block title %} Hello, {{request.user.get_full_name}} {% endblock %}</h2>
  {% else %}
    <h2 class="profile-title">{{user.get_full_name}} </h2>
  {% endif %}

  <div class="profile-info">
  <h4>Username: {{ user }}</h4>
  <p>Date Joined: {{ date_joined }}</p>
  <p><small>Last Active: {{ last_login }}</small></p>
  </div>

{% if user.id == request.user.id  %}
<div id="profile-buttons">
<a class="btn blue" href="{% url 'edit_profile' %}">Edit Profile</a>
<br>
<br>
<a class="waves-effect waves-light btn red darken-1 modal-trigger" href="{% url 'change-password' %}">Change Password</a>
</div>
{% endif %}

{% else %}

<h3>Login to view Profile</h3>

{% endif %}
<h4>Upcoming Events:</h4>

  <div class="table-wrapper">
    <section>
      {% for event in future_events %}
        <div class="card col s3 event-cards upcoming-event item">
          <div class="card-content">
            <a href="{% url 'event_detail' event.name %}"><span class="keyword">{{ event.name }}</span></a><br>
            <span class="keyword">Date:</span> {{ event.date }} {{ event.time_zone }}<br>
            <span class="keyword">Description:</span> {{ event.description|truncatechars:100 }}
          </div>
        </div>
      {% endfor %}
      <p class="a">></p>
    </section>
  </div>
</div>

<h4>Past Events:</h4>
<div class="table-wrapper">
  <section>
    {% for event in past_events %}
    <div class="card col s3 event-cards upcoming-event item">
        <div class="card-content">
          <a href="{% url 'event_detail' event.name %}"><span class="keyword">{{ event.name }}</span></a><br>
          <span class="keyword">Date:</span> {{ event.date }} {{ event.time_zone }}<br>
          <span class="keyword">Description:</span> {{ event.description|truncatechars:100 }}
        </div>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}