{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

  <h2>{% block title %} Profile {% endblock %}</h2>
  <p>Username: {{ user }}</p>
  <p>Date: {{ user.date_joined }}</p>
  <p>Last Active: {{ user.last_login }}</p>

{% if user.id == request.user.id  %}

<form method="POST" action="{% url 'edit_profile' user.id %}">
  {% csrf_token %}
  {{ form.as_p }}
    <input type="submit" class="btn" value="Edit Profile">
</form>
<br>
<form action="{% url 'change-password' %}">
    <input type="submit" class="btn" value="Change Password" />
</form>
{% endif %}

{% else %}

<h3>Login to view h3rofile</h3>

{% endif %}
<div class="row">
  {% for event in events %}
  <div class="card col s-3">
    <div class="card-content">
      {{ event.name }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}