{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

  <h2>{% block title %} {{ user.first_name }} {{user.last_name }} {% endblock %}</h2>
  <p>Username: {{ user }}</p>
  <p>Date Joined: {{ date_joined }} </p>
  <p>Last Active: {{ last_login }}</p>

{% if user.id == request.user.id  %}
<a class="btn" href="{% url 'edit_profile' %}">Edit Profile</a>
<br>
<br>
<form action="{% url 'change-password' %}">
    <input type="submit" class="btn" value="Change Password" />
</form>
{% endif %}

{% else %}

<h3>Login to view Profile</h3>

{% endif %}
<h4>Upcoming Events:</h4>
<div>
  <div class="wrapper">
    <section id="section1">
      {% for event in future_events %}
        <div class="card col s3 event-cards">
            <div class="card-content">
              Event: {{ event.name }}<br>
              Date: {{ event.date }} {{ event.time_zone }}<br>
              Description: {{ event.description|truncatechars:100 }}
              <a href="{% url 'event_detail' event.id %}"><p>Detail</p></a>
            </div>
        </div>
      {% endfor %}
    </section>
  </div>
</div>

<h4>Past Events:</h4>
<div class="row">
  {% for event in past_events %}
  <div class="card col m4 event-cards">
      <div class="card-content">
        Event: {{ event.name }}<br>
        Date: {{ event.date }} {{ event.time_zone }}<br>
        Description: {{ event.description|truncatechars:100 }}
        <a href="{% url 'event_detail' event.id %}"><p>Detail</p></a>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}