{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block page-footer %}
{% endblock %}
<h1 class="about-title">Meet The Team</h1>
<div class="about-row">
  <div class="team-info">
    <h3>Eddy</h3>
    <img class="about-pic" src="/static/images/eddy.jpg" width="150" height="150"/>
    <br>
    <span class="italics" style="white-space: pre-line">"I’ve always had a passion in tech 
    and creating things so, 
    software engineering is combining both things I love 
    into a career I can enjoy. 
    First started working in construction, then went into I.T
     as an intern at General Electronics, 
    next became a customer support associate at Adobe 
    and now got into Software Engineering which is a field 
    I’m determined to stay in."</span>
    <p>- Eddy</p>
</p>
  </div>
  <div class="team-info">
    <h3>Sam</h3>
    <img class="about-pic" src="/static/images/sam.jpg" width="150" height="150"/>
    <br>
    <span class="italics" style="white-space: pre-line">"Through my experiences in academics and education,
     I have developed the ability to learn and quickly apply 
     my knowledge to a variety of circumstances
      and a multitude of different learning styles. 
      I have taught and studied both within the U.S. 
      and internationally and have learned valuable lessons 
      in critical thinking, conflict resolution, 
      and managing cultural differences. These skills are 
      essential in software engineering - 
      a field that is constantly changing and one in which 
      self-learning is a pre-requisite."</span>
      <p>- Samuel</p>
  </div>
</div>
{% endblock %}