{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Title and Image -->
<div class="row">
  <div class="col s8 title">
    <h1>Jobber: <span class="italics">the</span> place to promote new jobs and recruiting events</h1>
  </div>
  <div class="col s4">
    <img src="{% static 'public/undraw_Job_hunt.svg' %}" alt="svg of resume" id="svg-resume">
  </div>
</div>

<!-- Filter & Search Bar -->
<div class="row">
  <div class="col s3">
    <form action="{% url 'filter'%}" method="POST" id="select-form">
    {% csrf_token %}
      <select name="category" id="category-filter" onchange="this.form.submit()">
          {% if filter_term %}
            <option value="{{ filter_term }}">{{ filter_term }}</option>
          {% else %}
            <option value="">----</option>
          {% endif %}
          {% for category in categories %}
            {% if category.name != filter_term %}
              <option value="{{category.name}}">{{category.name}}</option>
            {% endif %}
          {% endfor %}
      </select>
    </form>
  </div>
  <div class="col s9">
    <form action="{% url 'search' %}" method="GET">
      <input type="text" name="search" placeholder="Search Events" class="col s9"> 
      <button class="btn blue darken-3 submit-search col s3" type="submit">Search</button>
    </form>
  </div>
</div>

<!-- All Events -->
{% for event in events %}
  <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <a href="{% url 'event_detail' event.name %}"><h5>{{ event.name }}</h5></a>
            {{ event.date }}<br>
            {{ event.description|truncatechars:100 }}
            <a href="{% url 'event_detail' event.name %}"><p>Detail</p></a>
          </div>
        </div>
      </div>
  </div>
{% endfor %}

{% endblock  %}