{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s6 title">
    <h1>Jobber: the place to promote new jobs and recruiting events</h1>
  </div>
  <div class="col s6">
    
  </div>
</div>

<div class="row">
  <div class="col s12">
    {% for event in events %}
      <div class="card">
        <div class="card-content">
          <h3>{{ event.name }}</h3>
          {{ event.description }}
          <a href="{% url 'event_detail' event.id %}"><p>Detail</p></a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock  %}