
.title h1 {
  font-size: 3rem;
}
/* custom classes */
.modal-input {
  margin: 0;
}

.italics {
  font-style: italic;
}

.keyword {
  font-size: 1.2rem;
  font-weight: 500;
}

.event-cards {
  height: 13rem;
  margin: 5px;
  overflow: hidden;
}

.registration-text {
  color: black;
  font-size: 1.6rem;
  line-height: 2rem;
}

.search-bar input::placeholder {
  padding-left: 5px;
}

.select-label {
  color: black;
  position: relative;
  font-size: 1rem;
  top: 4px;
}

.submit-search {
  height: 3rem;
}

/* override materialize classes: */
nav {
  background-color: rgba(0, 18, 18, 0.7);
}

nav h4 {
  color: black;
}

.modal {
  height: 75% !important;
}

.modal .modal-content {
  padding: 10px;
}

#modal2 {
  top: 30% !important;
  width: 40% !important;
  height: 12rem !important;
  opacity: 0.9 !important;
}

.row .col {
  padding-right: 0;
  padding-left: 1px;
}

/* custom id's */
#category-filter {
  display: block;
  border: 1.2px solid black;
  margin-right: 0;
}

#svg-resume {
  margin-top: 10px;
  height: 30vh;
}

#svg-career {
  display: flex;
  justify-content: center;
  height: 30vh;
  margin: 20px 0 20px 0;
}